*{
 box-sizing:border-box;
}
.head {
    width:100%;
    height:100px;
    background-color:white;
    
}

.hu {
    font-size:30px;
    margin-left:100px;
    position:absolute;  
    font-family: 'Oswald', sans-serif; 
}
#hj{
  margin-bottom:120px;  
  position:absolute;   
}
#navbar{
     
}
       #navbar ul{
        display: none;
      
        position: absolute;
        top: 100%;
            
      }
      #navbar li:hover ul { display: block; }
      #navbar, #navbar ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #navbar {
       background-size:cover;
       background-image:url(453.jpg); 
       background-color:black;
       position: absolute;
       left:10px;
       top: 105px;
       width: 1899px;
       height:50px;
       z-index: 60;
       right:10px;     
      }
      #navbar li {
        float: left;
        position: relative;
        height: 100%;
        word-spacing:10px;   
      }
      #navbar li a {
     font-size:25px;
     font-family: "Geometria";
     color: white;
     text-align: right;
     text-decoration:none;           
     z-index: 65;
           
}
      #navbar ul li { float: none; }

.g1{
  margin-left:85px;
 
 margin-top:10px;
}
.g2{
 margin-left:220px;
 margin-top:10px;
}
.g3{
  margin-left:240px;
  margin-top:10px;    
}
.g4{
 margin-left:193px;
  margin-top:10px;    
}
body{
 background-image:url(%D0%91%D0%B5%D0%B7%20%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-2.jpg);
 background-attachment:scroll; 
}
#no{
  
  font-size: 11px;
  font-family: "Arial";
  color:grey;
  text-transform: uppercase;
 position: absolute;
  margin-left:1700px;
  top:52px;
  z-index: 21;
  text-decoration:none;
}
#no1{
 font-size: 11px;
  font-family: "Arial";
  color:grey;
  text-transform: uppercase;
  position: absolute;
  margin-left:1790px;
  top:52px;
  z-index: 21;
  text-decoration:none;     
}
#no2{
  font-size: 11px;
  font-family: "Arial";
  color:grey;
  text-transform: uppercase;
 position: absolute;
  margin-left:1835px;
  top:52px;
  z-index: 21; text-decoration:none;  
}

.content {
     
    width:70%;
  
    float:left; 
    
}

.sidebar {
    width:30%;
    
    float: left;
    margin-top:60px;
     
    
}

.in-content {
    min-height:702px;
    
    margin-top:60px;
}

.in-sidebar {
    
     min-height:600px; 
     
}

.gh {
    margin-left:45px;
    margin-top:0px; 
}
#j2{
    margin-top:10px; 
    margin-left:50px;
    color:gray;
    font-family: 'Oswald', sans-serif;   
}
.j1 {
    margin-top:30px; 
    margin-left:45px;
    color:gray;
    font-family: 'Oswald', sans-serif; 
}
   button.new {
    background: -moz-linear-gradient(#00BBD6, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
    margin-left:45px; 
       
   }
#k1{
 text-decoration:none;
 font-family: 'Oswald', sans-serif;
 color:grey;
 margin-left:30px; 
     
}
.k{
    text-decoration:none;
    color:gray;
}
.kl{
 margin-left:35px; 
}
#j3{
 font-family: 'Oswald', sans-serif;
 color:grey;
 margin-left:36px; 
}
hr{
 color:grey;
 border: none; /* Убираем границу */
 background-color: gray; /* Цвет линии */
    color: gray; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */

     
}
a.button8 {
  display: inline-block;
  color:gray;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  margin-left:42px;     
} 
a.button8:hover { background: rgba(255,255,255,.2); }
a.button8:active { background: white; }

a.button7 {
  display: inline-block;
  color:gray;
  font-weight:700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  margin-left:300px;
  margin-top:215px;     
} 
a.button7:hover { background: rgba(255,255,255,.2); }
a.button7:active { background: white; }

a.button6 {
  display: inline-block;
  color:gray;
  font-weight:100;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
/*  margin-left:300px;*/
  margin-top:215px;     
} 
a.button6:hover { background: rgba(255,255,255,.2); }
a.button6:active { background: white; }

a.button5{
  display: inline-block;
  color:gray;
  font-weight:700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  margin-left:;
  margin-top:215px;     
} 
a.button5:hover { background: rgba(255,255,255,.2); }
a.button5:active { background: white; }